.container-fluid {

	.banner-heroes {
		width: 100%;
		height: 400px;
		.relative;

		.heroes-slider.swiper-container {
			width: 100%;
			height: 100%;

			.swiper-wrapper {
				width: 100%;
				height: 100%;

				.swipper-slide {
					width: 100%;
					height: 100%;

					img {
						display: block;
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

		@media (min-width: @screen-lg-min) {

			height: 600px;
		}
	}
}
